/* SLIDE THREE */
.slideThree {
    width: 270px;
    height: 30px;
    padding-top: 5px;
    background: #333;
    margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    /*-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);*/
    /*-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);*/
    /*box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);*/
    background-color: transparent;
    border: 2px #ffffff solid;
}

.slideThree:after {
    content: 'Chọn món này';
    font: 15px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
    content: 'Đã chọn';
    font: 15px/26px Arial, sans-serif;
    color: #db3222;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}
.box-img-kq{
    padding:10px;
    background:#fff;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    box-shadow:0 0 3px #c5c2a9;
    -moz-box-shadow: 0 0 3px #c5c2a9;
    -webkit-box-shadow:0 0 3px #c5c2a9;
    display:inline-block
}

.box-img-kq img
{
    width: 270px;
    height: 200px;
}

.box-img-qa{
    padding:10px;
    background:#fff;
    border-radius:16px;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    box-shadow:0 0 3px #c5c2a9;
    -moz-box-shadow: 0 0 3px #c5c2a9;
    -webkit-box-shadow:0 0 3px #c5c2a9;
    display:inline-block
}

.box-img-qa img
{
    width: 500px;
    height: 300px;
}






.goi_y_1_quan_an{
    border: solid 1px white;
    clear: both;
    padding: 40px;
    margin: 20px 0px;
}
.slideThree > label {
    display: block;
    width: 135px;
    height: 20px;
    margin-top: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.slideThree > input[type=checkbox]
{
    visibility: hidden;
}
.slideThree > input[type=checkbox]:checked + label {
    left: 130px;

}

